@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <br />
    <h2> <b> <i> <font color="#0d6efd">  Céthia Sarl : le digital au coeur de votre service</font> </i> </b></h2>
    <br />
    <div id="acceuil">
        <div id="menu1" class="col-md-4 mb-lg-0 mb-3"> <h3> <b> <font color="rgb(0,0,40)">  Ou ? </font></b>  </h3> Situé dans la ville de Dschang Cethia SARL est une jeune entreprise inovante </div>
        <div id="menu2" class="col-md-4 mb-lg-0 mb-3"> <h3><b>Smart Team  </b></h3>
                 Une équipe auto organisée, pluridisciplinaire et cross-fonctionnelle nous permet d'assurer un rendement efficace pour nos clients.</div>
        <div id="menu3" class="col-md-4 mb-lg-0 mb-3"> <h3><b> Technologies  </b></h3>
Les technologies les plus utilisées sont: le ASP.NET,SPING,..</div>
    
</div>

<br/>
 <h3 > <b> <i>  <font color="#0d6efd"> Nos services </font> </i> </b></h3>
 <br/>

  <font color="black">   Dans un monde en perpétuelle croissance, CETHIA SARL vous accompagne pour concevoir des stratégies de
    transformation digitale visionnaires et innovantes ; celles qui produisent des bénéfices concrets 
    et durables pour votre entreprise,
    ses collaborateurs et ses clients.</font>
    <br />
     <div id="acceuil">
        <div id="menu1" class="col-md-4 mb-lg-0 mb-3"> <h3> <b>   Editions de logiciels </b>  </h3> Conception, mise en œuvre et personnalisation de vos solutions digitales </div>
        <div id="menu2" class="col-md-4 mb-lg-0 mb-3"> <h3><b>DevOps  </b></h3>
               Accélérer en toute sécurité le cycle de déploiements de vos solutions.</div>
        <div id="menu3" class="col-md-4 mb-lg-0 mb-3"> <h3><b> Conseil et Formation  </b></h3>
Favoriser le changement, par l’accompagnement de vos collaborateurs.</div>
    
</div>

