@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <br />
    <h2> <b> <i> <font color="#0d6efd"> Qui est  Céthia Sarl </font> </i> </b></h2>
    <br />
 Cethia Sarl est une société pionnière dans l'édition de logiciels intelligents pour la gestion des entreprises. Elle a pour ambition de proposer des solutions innovantes et ambitieuses pour des systèmes d'entreprise toujours plus efficaces et robustes.
    
 Céthia Sarl  se positionne ainsi comme le partenaire idéal pour l'édition de logiciel du futur afin de s'adapter à un monde en perpétuel changement. Elle conçois et développe les logiciels dans les secteurs d'activités nombreux et variés comme la banque, l'assurance, la grande consommation et distribution, l'industrie, télécoms, services publics, High Tech
 
 Cethia Sarlpropose également des services informatique adaptés aux besoins de ses clients. Elle met donc ainsi les ressources nécessaires pour réagir rapidement et avec agilité aux besoins des clients. Ce qui est un atout essentiel lorsque l'ont veut voir aboutir ses projets dans les meilleurs délais.

Développement d'application : Conception, mise en œuvre, tests, maintenance et personnalisation de vos solutions digitales.
DevOps : Accélérer en toute sécurité le cycle de déploiement et de virtualisation de vos solutions afin de vous assurer la réussite de votre transformation digitale.
Infrastructure et Réseaux : Dimensionnement, déploiement, configuration, sécurisation et exploitation de votre parc informatique.
Conseil et Formation : Favoriser le changement par l'accompagnement et la formation des collaborateurs.


</div>

